.container_search_result {
    display: flex;
    padding: 1em;
}

.poster {
    position: relative;
    width: 8em;
    height: 12em;
}

.poster img {
    max-width: 8em;
    max-height: 12em;
    object-fit: cover;
    border: 1.5px solid #2F3D48;
    border-radius: 0.2em;
    /* transition: 0.1s; */
}

.skeleton {
    position: absolute;
    inset: 0;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    flex-wrap: wrap;
    text-align: center;
    background-color: #252C33;
    border: 1.5px solid #2F3D48;
    border-radius: 0.2em;
    /* transition: 0.1s; */
}

.poster img:hover,
.poster .skeleton:hover {
    border: 3.5px solid #00E054;
    transition: 0.1s;
}

.info {
    margin-left: 1em;
    color: #99AABB;
}

.info span {
    font-size: 1.5em;
    font-weight: 900;
    color: #FFF;
    font-family: "Lora" !important;
    margin-right: 0.3em;
    transition: 0.15s;
}

.info span:hover{
    color: #40BCF4;
}